extends navbar.pug

block content
    .container 
        .blogs 
            .blog
                img(src="" alt="img" class="img")
                .contents 
                    h2.title jdskf
                    .categories_date 
                        span.date
                            img(src="static/images/date.svg", alt="date" class="date-image")
                            p.date-text 09-09-2003
                        span.categories 
                            img(src="/static/images/folder.svg", alt="folder")
                            p.categories-text Lorem, ipsum dolor.
                    p.short_blog Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis tempore placeat sunt optio, repellat nemo! Nobis magnam eaque consequatur nam modi expedita porro saepe velit? Necessitatibus dignissimos reiciendis vitae non!
                    .more   
                        a.read_more(href="") Read more
                        img(src="/static/images/right.svg", alt="right")
