extends navbar.pug

block content
    .container 
        .wrapper 
            .center-wrapper 
                .about_me 
                    h1.text1.greeting-text Hi,
                    span.text1.first-text I'm 
                    span.text1.sec-text Mashrab
                .required_text 
                    p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
                .buttons-home
                    a.read_more-home(href="/blogs") Read more 
                    a.add_blog-home(href="/generate") Add new Blog     